# Analise Dados GEPminder ⛳


O base de dados Gapminder contem informações continentes, países, numero de habitantes, idade, epectativa de vida, PIB. Para nosso projeto iremos utilizar esta base de dados para conhecer e praticar alguns comandos utilizando a biblioteca pandas

In [1]:
#importando a biblioteca Pandas
import pandas as pan

In [5]:
base = pan.read_csv("/content/Gapminder.csv",error_bad_lines=False, sep=";") #error_bad_lines foi utilizado para ignorar erro existente de coluna fazia / sep inserido para alterar marcado de separação

In [7]:
#head é utlizado para exibir uma quantidade de linhas da base de dados
base.head (2)

       country continent  year  lifeExp      pop   gdpPercap
0  Afghanistan      Asia  1952   28.801  8425333  779.445314
1  Afghanistan      Asia  1957   30.332  9240934  820.853030

In [8]:
#Comando para alterar o nome das colunas
base = base.rename (columns={"contry":"Pais", "continent":"Continente","year":"Ano","lifeExp":"Expectativa de vida","pop":"População total","gdpPercap":"PIB"})

In [9]:
base.head () #Verificação da alteração do nomes das colunas

,country,Continente,Ano,Expectativa de vida,População total,PIB
0,Afghanistan,Asia,1952,28.801,8425333,779.445314
1,Afghanistan,Asia,1957,30.332,9240934,820.853030
2,Afghanistan,Asia,1962,31.997,10267083,853.100710
3,Afghanistan,Asia,1967,34.020,11537966,836.197138
4,Afghanistan,Asia,1972,36.088,13079460,739.981106

In [10]:
#verificação da quantidade total de linhas e colunas
base.shape

(3312, 6)

In [12]:
# Verificação do nome da colunas da base de dados
base.columns

Index(['country', 'Continente', 'Ano', 'Expectativa de vida',
       'População total', 'PIB'],
      dtype='object')

In [13]:
# Exibir o tipo de dados de cada coluna
base.dtypes

country                 object
Continente              object
Ano                      int64
Expectativa de vida    float64
População total          int64
PIB                    float64
dtype: object

In [15]:
# Retorna X ultimas linhas da base
base.tail(10)

,country,Continente,Ano,Expectativa de vida,População total,PIB
3302,Zimbabwe,Africa,1962,52.358,4277736,527.272182
3303,Zimbabwe,Africa,1967,53.995,4995432,569.795071
3304,Zimbabwe,Africa,1972,55.635,5861135,799.362176
3305,Zimbabwe,Africa,1977,57.674,6642107,685.587682
3306,Zimbabwe,Africa,1982,60.363,7636524,788.855041
3307,Zimbabwe,Africa,1987,62.351,9216418,706.157306
3308,Zimbabwe,Africa,1992,60.377,10704340,693.420786
3309,Zimbabwe,Africa,1997,46.809,11404948,792.449960
3310,Zimbabwe,Africa,2002,39.989,11926563,672.038623
3311,Zimbabwe,Africa,2007,43.487,12311143,469.709298

In [19]:
# Exibir as estatisticas gerais da base de dados
base.describe ()

               Ano  Expectativa de vida  População total            PIB
count  3312.000000          3312.000000     3.312000e+03    3312.000000
mean   1980.301630            65.246871     3.161489e+07   11317.115805
std      16.927294            11.768412     1.041193e+08   11369.142739
min    1950.000000            23.599000     5.941200e+04     241.165876
25%    1967.000000            58.337500     2.678572e+06    2514.625266
50%    1982.000000            69.610000     7.557218e+06    7838.505123
75%    1996.000000            73.657750     1.958522e+07   17357.879170
max    2007.000000            82.670000     1.318683e+09  113523.132900

In [21]:
# Exibir os valores unicos de cada coluna
base["Continente"].unique()

array(['Asia', 'Europe', 'Africa', 'Americas', nan, 'FSU', 'Oceania'],
      dtype=object)

In [22]:
# Realiza um filtro na coluna Continente
Oceania = base.loc[base["Continente"] == "Oceania"]
Oceania.head(3)

,country,Continente,Ano,Expectativa de vida,População total,PIB
975,Fiji,Oceania,1962,56.494,421869,2039.393277
976,Fiji,Oceania,1967,58.607,485000,2170.073285
977,Fiji,Oceania,1972,60.642,544000,2797.759484

In [24]:
Oceania["Continente"].unique()

array(['Oceania'], dtype=object)

In [28]:
#Realiza o agrupamento dos dados
base.groupby("Continente")["country"].nunique()

Continente
Africa      51
Americas    25
Asia        41
Europe      35
FSU          6
Oceania      3
Name: country, dtype: int64

In [30]:
#Agrupa os dados por ano e informa a media
base.groupby("Ano")["Expectativa de vida"].mean()

Ano
1950    62.002568
1951    65.904167
1952    49.206867
1953    66.674563
1954    67.459817
1955    67.806757
1956    67.950637
1957    51.614590
1958    68.815936
1959    68.226579
1960    68.470837
1961    68.862480
1962    54.035234
1963    69.595735
1964    70.063105
1965    70.259881
1966    70.447526
1967    56.263629
1968    70.689081
1969    70.653896
1970    70.961141
1971    71.103976
1972    58.474481
1973    71.500338
1974    71.778504
1975    71.939218
1976    72.158050
1977    60.429090
1978    72.717567
1979    73.018717
1980    73.064524
1981    73.337399
1982    62.365871
1983    73.787778
1984    74.100741
1985    74.112222
1986    74.452222
1987    63.984860
1988    74.760000
1989    74.924444
1990    74.283438
1991    74.374848
1992    65.008443
1993    74.324545
1994    74.456667
1995    74.552727
1996    75.029394
1997    65.873799
1998    75.569697
1999    75.703636
2000    76.026364
2001    76.257879
2002    66.835695
2003    76.586667
2004    76.921562
2005    76.718667
2006    77.887778
2007    67.868557
Name: Expectativa de vida, dtype: float64

In [31]:
# Exibir a média do PIB
base["PIB"].mean()

11317.115804696648

In [33]:
# Exibir a soma do PIB
base["PIB"].sum()

37482287.5451553

In [34]:
print ("Finalizando primeiros testes")

finalizando primeiro testes

In [36]:
base.to_csv("Gepminde_novo.csv", index = False)